.column-1-2 {
	display: inline-block;
	margin: 10px 15px;
	width: 300px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 10px 2px gray, -5px -5px 10px 2px gray;
}

.column-1-2-photo {
	width: 200px;
	height: 200px;
}

.icon {
	width: 15px;
	margin-right: 5px;
}
