.column-1-3 {
	display: inline-block;
	margin: 10px 1vw;
	width: 17vw;
	background-color: white;
	border-radius: 10%;
	box-shadow: 5px 5px 10px 2px gray, -5px -5px 10px 2px gray;
}

.column-1-3-photo {
	width: 15vw;
	height: 15vw;
}
