.wrapper {
	background-color: #e8e8e8;
}

.blocks {
	display: inline-block;
	margin: 0;
	width: 100%;
}

.link {
	text-decoration: none;
	outline: none;
}

.link:link {
	color: #daa520;
}

.link:visited {
	color: #daa520;
}

.link:hover {
	color: #ffd700;

}

.link:active {
	color: #f7ff80;
}

@media (max-width: 1330px) {
	.top-menu-buttons {
		width: 700px;
		margin-top: 0;
	}

	.top-menu-button {
		height: 25px;
		padding-top: 5px;
	}

	.top-menu-order-button {
		margin-top: 15px;
		width: 420px;
		height: 25px;
		padding-top: 0;
	}
}


@media (max-width: 1000px) {
	.title-large {
		font-size: 30pt;
	}

	.title-small {
		font-size: .9em;
		margin-top: -15px;
	}

	.header {
		height: 200px;
	}

	.top-menu-text {
		float: none;
		width: 100%;
	}

	.top-menu-buttons {
		float: none;
		width: 100%;
	}

	.top-menu-button {
		width: 100%;
	}

	.top-menu-order-button {
		width: 100%;
	}

	.top-menu {
		height: auto;
		position: static;
		opacity: 1;
	}

	.to-top-button-zone-hover {
		visibility: hidden;
	}

	.title-medium {
		margin-top: 0;
	}

	body {
		font-size: 11pt;
		width: 500px;
	}
}
