body {
  font-family: 'PT Serif', serif;
	color: #000;
	font-size: 14pt;
	text-align: center;
}

.title-large {
	font-size: 100pt;
	color: #e8e8e8;
	text-align: center;
	margin: 0;
	padding-top: 50px;
	text-shadow: 3px 3px 0 black, -1px -1px 0 black;;
}

.title-medium {
	font-size: 3.5em;
	text-align: center;
	color: black;
	margin: 50px 0 50px 0;
	text-shadow: 3px 2px 5px gray, -2px -3px 5px gray;
}

/* Отступ от заголовков, чтобы меню было выше при переходе по якорю */

.title-medium:before {
	display: block;
	content: '';
	height: 70px;
}

.text-small {
	margin-bottom: 50px;
	color: #504813;
}

.title-small {
	display: block;
	font-size: 1.6em;
	text-align: center;
	color: white;
	text-shadow: .5px .5px 1px black, -.5px -.5px 1px black;
	margin-top: -50px;
}

.text-content {
	text-align: center;
	color: #504813;
}

.developer-name {
	text-align: center;
	font-size: 2em;
	margin: 0 auto;
}

.money {
	color: green;
}
